{{ partial "header.html" . }}

<div class="canvasContent">
    <article>
		<h1>
		{{ if .Title }}
			{{ .Title }}
		{{ else }}
			Inhaltsübersicht 
		{{ end }}</h1>
<!-- in Überschrift evtl. Variable einsetzen, welches Tag/welche Kategorie gelistet wird -->
			{{ .Content }} 
            <p>&nbsp;</p>

		{{ $act_section := .Section}}      <!-- Section der aktuellen Seite speichern -->     {{ range where .Site.Pages "Section" $act_section }}
			<!-- {{ if ne .Params.menu "main" }} -->			
				{{- if and (ne .Type "teaser") (ne .Type "liste")}}                       
                    <h3><a href="{{.RelPermalink}}">{{ .Title }}</a></h3>
                    <p>{{ .Description }}</p>
                    <p>&nbsp;</p>
					<!-- <hr> -->
	        	{{ end }}
        	<!-- {{ end }} -->
	    {{ end }}

            {{ partial "seitenanfang.html" . }}

    </article>
   
   <!-- <aside> 
	 
        	{{ partial "sidenav.html" . }} 
	  
   </aside>  -->
</div>  
 
{{ partial "footer.html" . }}
