{{ partial "header.html" . }}

<div class="canvasContent">
    <article>
        {{ if .Params.Title }}
            <h1 id="title">{{ .Params.Title }}</h1>
        {{ else }}
            <h1 id="title">Artikel in der Rubrik <em>{{ .Title }}</em></h1>
        {{ end }}
        {{ .Content }}
        <p class="small">Es werden jeweils die 3 neuesten Artikel pro Schlagwort angezeigt.</p>
    
        {{ $data := .Data }}
        {{ range $key,$value := .Data.Terms.ByCount }}
        <h2><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}.html">{{ $value.Name | humanize }}</a><small> -  {{ $value.Count }} Artikel</small></h2>
        {{ range first 3 $value.Pages.ByDate.Reverse }}
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <p class="small">vom {{ .Date.Format .Site.Params.DateForm }}</p>
            {{if .Params.Description }}
                <p><em>{{ .Description }}</em></p>
            {{ else }}
                {{ .Summary }}
            {{ end }}
        {{ end }}
        {{ if gt $value.Count 3 }}        
            <div class="read-more-link" style="text-align: right; font-style: italic; font-size: .85em; ">
                <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}.html">alle Artikel zu "{{ $value.Name | humanize }}" anzeigen >>></a>
            </div>
        {{ end }}
            <p>&nbsp;</p>
        {{ end }}


    </article>
   
   <aside> 

        {{ partial "blognavterm.html" . }} 

   </aside> 
</div>  
 
{{ partial "footer.html" . }}
