 {{ partial "header.html" . }}

<div class="canvasContent">
    <article>
      <!--Seiteninhalt-->
            <div class="screen"><ul class="umblaettern">
                <li>{{if .PrevInSection}}<a href="{{.PrevInSection.RelPermalink}}"><<< vorheriger Artikel</a>{{end}}</li>
                <li>{{if .NextInSection}}<a href="{{.NextInSection.RelPermalink}}">nächster Artikel >>></a>{{end}}</li>
                </ul>
            </div>
            
			<h1>{{ .Title }}</h1>
			
            <p class="small">veröffentlicht am {{ .Date.Format .Site.Params.DateForm }}
                {{ if ne .Date .Lastmod }}
                    - aktualisiert am {{ .Lastmod.Format .Site.Params.DateForm }}
                {{ end }} mit {{ .WordCount }} Worten - Lesezeit: {{ .ReadingTime }} Minute(n)
                
                <!-- in --> 
				{{ range $i, $e :=.Params.categories }}
					{{if $i}} , {{end}}
					<a href="/categories/{{ . | urlize }}.html">{{ . }}</a> <!-- ".html" einfügen für 'uglyURLs = true' -->
				{{ end }} 
				
				
				{{if .Params.tags }}
    				mit dem/den Schlagwort(en)
    				{{ range $i, $e :=.Params.tags }}
    					{{if $i}} , {{end}}
    					<a href="/tags/{{ . | urlize }}.html">{{ . }}</a> <!-- ".html" einfügen für 'uglyURLs = true' -->
    			{{ end }}
				{{ end }}
				
				
			</p>
			
            <!-- {{ partial "toc.html" . }} -->

			{{ .Content }}

            {{ partial "seitenanfang.html" . }}

            {{ partial "share.html" . }}

			<hr>


<!-- Kommentarbox -->
<p>&nbsp;</p>
	<script type="text/javascript" src="https://privat.albicker.org/hashover/comments.php"></script>
    <noscript>Ohne Java-Script gibt's leider keine Kommentare zu sehen ...</noscript>
<!-- Ende Kommentarbox -->


    </article> 
   
   <!-- <aside> 
	 <section> 
	 
	 </section> 
   </aside>  -->
</div>  
 
{{ partial "footer.html" . }}
