{{ partial "header.html" . }}

<!-- dieses Template wird aufgerufen zur Erzeugung von Listen aus Taxonomies (tags, categories) -->
<div class="canvasContent">
    <article>
    			<h1>
				{{ if .Site.Params.strings.posts_list_header }}
					{{ .Site.Params.strings.posts_list_header }}
				{{ else }}
					{{ .Title }} 
				{{ end }}
				</h1>

				{{ .Content }}
				
				
<!-- in Überschrift evtl. Variable einsetzen, welches Tag/welche Kategorie gelistet wird -->

                {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
				{{ range $paginator.Pages }}    <!-- .Paginator speichert Infos zur Seitenaufteilung -->
				    {{ if ne .Params.menu "main" }}		<!-- falls .Params.menu NICHT "main" entspricht -->	
                        <h3><a href="{{.RelPermalink}}">{{ .Title }}</a></h3>
                        <p class="small">vom {{ .Date.Format .Site.Params.DateForm }}
                        <!-- in --> 
        				{{ range $i, $e :=.Params.categories }}
        					{{if $i}} , {{end}}
        					<a href="/categories/{{ . | urlize }}.html">{{ . }}</a> <!-- ".html" einfügen für 'uglyURLs = true' -->
        				{{ end }} 
        				
        				
        				{{if .Params.tags }}
            				mit dem/den Schlagwort(en)
            				{{ range $i, $e :=.Params.tags }}
            					{{if $i}} , {{end}}
            					<a href="/tags/{{ . | urlize }}.html">{{ . }}</a> <!-- ".html" einfügen für 'uglyURLs = true' -->
            			{{ end }}
        				{{ end }}                        
                        
                        </p>         
                        <!-- Artikelbild aus Frontmatter einfügen -->
                        {{ if .Params.artikelbild }}
                            <a href="{{.RelPermalink}}"><img src="{{ .Params.artikelbild | relURL }}" alt="" class="li"></a>
                        {{ end }}
                        
                        <p>
                        {{if .Params.Description }}
                            <em>{{ .Description }}</em><br>
                        {{ end }}
                        {{ .Summary }}
                          {{ if .Truncated }}
                              <div class="read-more-link" style="text-align: right; font-style: italic; font-size: .85em; ">
                                <a href="{{ .RelPermalink }}">weiterlesen >>></a>
                              </div>
                          {{ end }}
                        </p>
                        
                    {{ end }}
			    {{ end }}
        
        <p class="small">{{ .Paginator.TotalNumberOfElements }} Blogbeiträge</p>
		<hr>
        <p align="center">
            
            {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
                  {{ if .Paginator.HasPrev }}
                  <a href="{{.Paginator.Prev.URL}}"><<< neuere Beiträge&nbsp;&nbsp;</a>
                  {{ end }}
                         +++ Seite {{ .Paginator.PageNumber }} von {{ .Paginator.TotalPages }} +++ 
                {{ if .Paginator.HasNext }}
                  <a href="{{.Paginator.Next.URL}}">&nbsp;&nbsp;ältere Beiträge >>></a>
                {{ end }}
            {{ end }}
             
        </p>

            {{ partial "seitenanfang.html" . }}

    </article>

   
    <aside> 
     
        {{ partial "blognavtax.html" . }}

        {{ partial "meistgelesen.html" . }}
        
    </aside>
</div>  
 
{{ partial "footer.html" . }}
