		{{ if eq .Params.affiliate "1" }}
            <div class="werbedisclaim">
                <h3>Affiliate-Links</h3>
                <p>Links zu Bezugsquellen, die ich auf dieser Seite hinterlege, geben dem Leser die Möglichkeit, Genaueres zum jeweiligen Artikel in den dort veröffentlichten Produktbeschreibungen zu erfahren.<br>
Einzelne dieser Links sind <span style="color: #de2723; ">speziell gekennzeichnet</span> (siehe Liste unten), sog. "affiliate links". Der Leser hat durch Nutzung eines solchen Links die Möglichkeit, durch Kauf des verlinkten oder auch eines anderen Artikels in dem betreffenden Shop zum Unterhalt dieser Seite beizutragen, indem ich bei einem Kauf eine kleine Provision erhalte.</p>
<p>Derzeit arbeite ich mit folgenden Shops zusammen:</p>
<ul> <a href="https://www.augenblicke-eingefangen.de/catalog/?ref=78&language=german" target="_blank">Augenblicke-eingefangen GbR</a>, 18057 Rostock</ul>
            </div>
        {{ end }}
