<!-- Inhaltsverzeichnis -->
{{ if and (gt .WordCount 300 ) (.Params.toc) }}
    {{.TableOfContents}}
{{ end }}




<!-- html-Quelltext -->
<!-- <nav id="TableOfContents">
<ul>
<li>
<ul>
<li><a href="#was-wollen-die-besucher-zu-bestsign-wissen">Was wollen die Besucher zu Bestsign wissen?</a>
<ul>
<li><a href="#allgemeine-anfragen">Allgemeine Anfragen</a></li>
<li><a href="#anfragen-zur-bestsign-app">Anfragen zur bestsign-App</a></li>
<li><a href="#sicherheit-von-bestsign">Sicherheit von bestsign</a></li>
</ul></li>
<li><a href="#bestsign-alternativlos">Bestsign &ldquo;alternativlos&rdquo;?</a></li>
<li><a href="#mein-umgang-mit-bestsign-und-der-postbank">Mein Umgang mit Bestsign und der Postbank</a></li>
</ul></li>
</ul>
</nav> -->