{{ partial "header.html" . }}

<div class="canvasContent">
<article>
      <h1>Fehlerseite</h1>
      <p>Die angeforderte Seite existiert leider nicht (mehr). Die verfügbaren Inhalte dieser Webseite sind über die Menüstruktur oben erreichbar. </p>
      

    <p>Alternativ hilft vielleicht die Suchfunktion weiter:</p>
    <!-- Suchscript https://webdesign.weisshart.de/ -->
    <form  id="search" method="get" action="/suchen.php">
    <p>
    <label for="suchbegriff">Im Projekt suchen:</label>
    <input type="text" name="q" id="suchbegriff" placeholder="Suchbegriff(e) eingeben" value="" />
    <input type="submit" value="Los !" />
    </p>
    </form>
    <!-- Ende https://webdesign.weisshart.de/ -->
    
    <h2>Ausgegliederte Bereiche</h2>
    <p>Bereits seit einigen Jahren sind die Bereiche "Fotografie" und "Kurzwelle" in eigene Webseiten ausgelagert worden:</p>
    <ul>
        <li>Die Beiträge zum Thema "Fotografie" sind zu finden unter <a href="http://www.bilddateien.de" target="_blank">www.bilddateien.de</a>.<br>
        Das betrifft auch die häufig besuchten Scan-Tutorials.</li>
        <li>Die Artikel zum Thema "Kurzwellenrundfunk" finden sich jetzt unter <a href="http://de.intervalsignals.org" target="_blank">www.intervalsignals.org</a>. <br>
        Sie ergänzen die dort vorhandene Datenbank mit Pausenzeichen internationaler Rundfunkstationen.</li>
    </ul>
    
    <p>Beiträge zu diesen beiden Themenfeldern, die auch Bezug zum Reisen haben, können weiterhin im <a href="/blog">Blog</a>, auch über die Suchfunktion, gefunden werden.</p>
</article>
   
   <!-- <aside> 
	 <section> 

	 </section> 
   </aside> --> 
</div>  
 
{{ partial "footer.html" . }}
