{{ partial "header.html" . }}

<div class="canvasContent">
    <article>
    
	<section>
        <h1>{{ if .Title }}
            {{ .Title }}
        {{ else }}
            {{ .Site.Title }}
        {{ end }}</h1>	
		{{ .Content }}	
	</section>    
    
	<section>
	{{ range where .Site.RegularPages "Type" "teaser" }}
	<div class="teaser">
		<a id="teaser-linkbox" href="/{{ .Section }}.html">
				<!-- {{ .Title }} -->
				{{ .Content }}
		</a>
	</div>
	{{ end }}
	</section>
	
    <section>  
	    <div id="vorschau">
		    <h2>Die neuesten Artikel</h2>
			    {{ range first 5 (where .Site.Pages.ByDate.Reverse "Section" "blog") }}   
					<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>    <!-- .RelPermalink anstelle .Permalink für portable Seiten -->
				    <p class="small">vom {{ .Date.Format .Site.Params.DateForm }}</p>
				    <p>  {{ .Description }} </p>
			    {{ end }}
            <p>&nbsp;</p>
            <h2>Die meistgelesenen Artikel</h2>
                {{ range (where .Site.Pages ".Params.meistgelesen" "1" ) }}
                    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3> 
                    <p>  {{ .Description }} </p>
                {{ end }}
	    </div>
	</section>


<!-- Suchscript https://webdesign.weisshart.de/ -->
<form  id="search" method="get" action="suchen.php">
<p>
<label for="suchbegriff">Im Projekt suchen:</label>
<input type="text" name="q" id="suchbegriff" placeholder="Suchbegriff(e) eingeben" value="" />
<input type="submit" value="Los !" />
</p>
</form>
<!-- Ende https://webdesign.weisshart.de/ -->


</article>
   
   <!-- <aside> 
	 <section> 
	 <h2>Kontakt</h2> 
		 <ul> 
		 <li><a href="link_1.html">Wiki</a></li> 
		 <li><a href="link_2.html">Blog</a></li> 
		 <li><a href="link_3.html">Forum</a></li> 
		 </ul> 
	 </section> 
	 <section> 
	 <h2>Weiterführende Links</h2> 
		 <ul> 
		 <li><a href="link_1.html">Wiki</a></li> 
		 <li><a href="link_2.html">Blog</a></li> 
		 <li><a href="link_3.html">Forum</a></li> 
		 </ul> 
	 </section> 
   </aside> --> 
</div>  
 
{{ partial "footer.html" . }}
