{{ partial "header.html" . }}

<div class="canvasContent">
    <article>
    
	<section>
        <h1>{{ if .Title }}
            {{ .Title }}
        {{ else }}
            {{ .Site.Title }}
        {{ end }}</h1>	
		{{ .Content }}	
	</section>    
    
	<section>
	{{ range where .Data.Pages "Type" "teaser" }}
	<div class="teaser">
		<a id="teaser-linkbox" href="/{{ .Section }}/intro.html">
				<!-- {{ .Title }} -->
				{{ .Content }}
		</a>
	</div>
	{{ end }}
	</section>
	
    <section>  
	    <div id="vorschau">
		    <h2>Die neuesten Artikel</h2>
			    {{ range first 3 .Data.Pages.ByDate.Reverse }}   
			    <!-- es sollen die AKTUELLSTEN 3 Artikel  aller Bereiche erscheinen, wichtig, wenn in den Bereichen mit Gewichtung gearbeitet wird --> 
			    <!-- range first 3 (where .Data.Pages "Section" "blog") => nur die letzten 3 BLOG-Artikel -->
					<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>    <!-- .RelPermalink anstelle .Permalink für portable Seiten -->
				    <span><small>vom {{ .Date.Format .Site.Params.DateForm }}</small></span>
				    <p>  {{ .Description }} </p>
			    {{ end }}
	    </div>
	</section>



</article>
   
   <!-- <aside> 
	 <section> 
	 <h2>Kontakt</h2> 
		 <ul> 
		 <li><a href="link_1.html">Wiki</a></li> 
		 <li><a href="link_2.html">Blog</a></li> 
		 <li><a href="link_3.html">Forum</a></li> 
		 </ul> 
	 </section> 
	 <section> 
	 <h2>Weiterführende Links</h2> 
		 <ul> 
		 <li><a href="link_1.html">Wiki</a></li> 
		 <li><a href="link_2.html">Blog</a></li> 
		 <li><a href="link_3.html">Forum</a></li> 
		 </ul> 
	 </section> 
   </aside> --> 
</div>  
 
{{ partial "footer.html" . }}
